doctype html
head
  meta(http-equiv='Content-Type' content='text/html; charset=UTF-8')
  title Education
  link(href='https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700' rel='stylesheet')
  //
    CSS
    =============================================
  link(rel='stylesheet' href='css/linearicons.css')
  link(rel='stylesheet' href='css/font-awesome.min.css')
  link(rel='stylesheet' href='css/bootstrap.css')
  link(rel='stylesheet' href='css/magnific-popup.css')
  link(rel='stylesheet' href='css/nice-select.css')
  link(rel='stylesheet' href='css/animate.min.css')
  link(rel='stylesheet' href='css/owl.carousel.css')
  link(rel='stylesheet' href='css/jquery-ui.css')
  link(rel='stylesheet' href='css/main.css')
  link(rel='stylesheet' href='css/util.css')
  link(rel='stylesheet' href='css/main_register.css')
  link(rel='stylesheet' href='css/login.css')
  link(rel='stylesheet' href='css/nr-ext-select-icon.css')
  link(rel='stylesheet' href='/css/style.min.css')
  
  style(type='text/css').
    .fb_hidden{position:absolute;top:-10000px;z-index:10001}.fb_reposition{overflow:hidden;position:relative}.fb_invisible{display:none}.fb_reset{background:none;border:0;border-spacing:0;color:#000;cursor:auto;direction:ltr;font-family:"lucida grande", tahoma, verdana, arial, sans-serif;font-size:11px;font-style:normal;font-variant:normal;font-weight:normal;letter-spacing:normal;line-height:1;margin:0;overflow:visible;padding:0;text-align:left;text-decoration:none;text-indent:0;text-shadow:none;text-transform:none;visibility:visible;white-space:normal;word-spacing:normal}.fb_reset>div{overflow:hidden}@keyframes fb_transform{from{opacity:0;transform:scale(.95)}to{opacity:1;transform:scale(1)}}.fb_animate{animation:fb_transform .3s forwards}
    .fb_dialog{background:rgba(82, 82, 82, .7);position:absolute;top:-10000px;z-index:10001}.fb_dialog_advanced{border-radius:8px;padding:10px}.fb_dialog_content{background:#fff;color:#373737}.fb_dialog_close_icon{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 0 transparent;cursor:pointer;display:block;height:15px;position:absolute;right:18px;top:17px;width:15px}.fb_dialog_mobile .fb_dialog_close_icon{left:5px;right:auto;top:5px}.fb_dialog_padding{background-color:transparent;position:absolute;width:1px;z-index:-1}.fb_dialog_close_icon:hover{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -15px transparent}.fb_dialog_close_icon:active{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yq/r/IE9JII6Z1Ys.png) no-repeat scroll 0 -30px transparent}.fb_dialog_iframe{line-height:0}.fb_dialog_content .dialog_title{background:#6d84b4;border:1px solid #365899;color:#fff;font-size:14px;font-weight:bold;margin:0}.fb_dialog_content .dialog_title>span{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/yd/r/Cou7n-nqK52.gif) no-repeat 5px 50%;float:left;padding:5px 0 7px 26px}body.fb_hidden{height:100%;left:0;margin:0;overflow:visible;position:absolute;top:-10000px;transform:none;width:100%}.fb_dialog.fb_dialog_mobile.loading{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/ya/r/3rhSv5V8j3o.gif) white no-repeat 50% 50%;min-height:100%;min-width:100%;overflow:hidden;position:absolute;top:0;z-index:10001}.fb_dialog.fb_dialog_mobile.loading.centered{background:none;height:auto;min-height:initial;min-width:initial;width:auto}.fb_dialog.fb_dialog_mobile.loading.centered #fb_dialog_loader_spinner{width:100%}.fb_dialog.fb_dialog_mobile.loading.centered .fb_dialog_content{background:none}.loading.centered #fb_dialog_loader_close{clear:both;color:#fff;display:block;font-size:18px;padding-top:20px}#fb-root #fb_dialog_ipad_overlay{background:rgba(0, 0, 0, .4);bottom:0;left:0;min-height:100%;position:absolute;right:0;top:0;width:100%;z-index:10000}#fb-root #fb_dialog_ipad_overlay.hidden{display:none}.fb_dialog.fb_dialog_mobile.loading iframe{visibility:hidden}.fb_dialog_mobile .fb_dialog_iframe{position:sticky;top:0}.fb_dialog_content .dialog_header{background:linear-gradient(from(#738aba), to(#2c4987));border-bottom:1px solid;border-color:#043b87;box-shadow:white 0 1px 1px -1px inset;color:#fff;font:bold 14px Helvetica, sans-serif;text-overflow:ellipsis;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0;vertical-align:middle;white-space:nowrap}.fb_dialog_content .dialog_header table{height:43px;width:100%}.fb_dialog_content .dialog_header td.header_left{font-size:12px;padding-left:5px;vertical-align:middle;width:60px}.fb_dialog_content .dialog_header td.header_right{font-size:12px;padding-right:5px;vertical-align:middle;width:60px}.fb_dialog_content .touchable_button{background:linear-gradient(from(#4267B2), to(#2a4887));background-clip:padding-box;border:1px solid #29487d;border-radius:3px;display:inline-block;line-height:18px;margin-top:3px;max-width:85px;padding:4px 12px;position:relative}.fb_dialog_content .dialog_header .touchable_button input{background:none;border:none;color:#fff;font:bold 12px Helvetica, sans-serif;margin:2px -12px;padding:2px 6px 3px 6px;text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog_content .dialog_header .header_center{color:#fff;font-size:16px;font-weight:bold;line-height:18px;text-align:center;vertical-align:middle}.fb_dialog_content .dialog_content{background:url(https://static.xx.fbcdn.net/rsrc.php/v3/y9/r/jKEcVPZFk-2.gif) no-repeat 50% 50%;border:1px solid #4a4a4a;border-bottom:0;border-top:0;height:150px}.fb_dialog_content .dialog_footer{background:#f5f6f7;border:1px solid #4a4a4a;border-top-color:#ccc;height:40px}#fb_dialog_loader_close{float:left}.fb_dialog.fb_dialog_mobile .fb_dialog_close_button{text-shadow:rgba(0, 30, 84, .296875) 0 -1px 0}.fb_dialog.fb_dialog_mobile .fb_dialog_close_icon{visibility:hidden}#fb_dialog_loader_spinner{animation:rotateSpinner 1.2s linear infinite;background-color:transparent;background-image:url(https://static.xx.fbcdn.net/rsrc.php/v3/yD/r/t-wz8gw1xG1.png);background-position:50% 50%;background-repeat:no-repeat;height:24px;width:24px}@keyframes rotateSpinner{0%{transform:rotate(0deg)}100%{transform:rotate(360deg)}}
    .fb_iframe_widget{display:inline-block;position:relative}.fb_iframe_widget span{display:inline-block;position:relative;text-align:justify}.fb_iframe_widget iframe{position:absolute}.fb_iframe_widget_fluid_desktop,.fb_iframe_widget_fluid_desktop span,.fb_iframe_widget_fluid_desktop iframe{max-width:100%}.fb_iframe_widget_fluid_desktop iframe{min-width:220px;position:relative}.fb_iframe_widget_lift{z-index:1}.fb_iframe_widget_fluid{display:inline}.fb_iframe_widget_fluid span{width:100%}
header#header
  .header-top
    .container
      .row
        .col-lg-3.col-sm-4.col-3.header-top-left.no-padding
          ul
            li
              a(href='#')
                i.fa.fa-facebook
            li
              a(href='#')
                i.fa.fa-twitter
            li
              a(href='#')
                i.fa.fa-dribbble
            li
              a(href='#')
                i.fa.fa-behance
        .col-lg-5.col-sm-4.col-5.header-top-right.no-padding
          if user
            a(href='/cap-nhat-thong-tin')
              button.btn.btn-light.btn-sm.text-uppercase(type='button') Cập nhật thông tin
            a(href='/logout')
              button.btn.btn-primary.btn-sm.text-uppercase(type='button')  Đăng xuất
          else
            a(href='/dang-ky-lam-gia-su')
              button.btn.btn-light.btn-sm.text-uppercase(type='button') &Dstrok;&abreve;ng k&yacute; l&agrave;m gia s&#x1B0;
            a(href='/login')
              button.btn.btn-primary.btn-sm.text-uppercase(type='button')  &Dstrok;&abreve;ng nh&#x1EAD;p v&agrave;o t&agrave;i kho&#x1EA3;n
       
        .col-lg-4.col-sm-4.col-4.header-top-right.no-padding
          if user 
            <i class="fa fa-user"></i>  #{user.email}
          else
            a(href='tel:+953 012 3654 896')
              span.lnr.lnr-phone-handset
              span.text +84 0961100826
            a(href='mailto:support@colorlib.com')
              span.lnr.lnr-envelope
              span.text hieudao03021999@gmail.com
  .row.m
    .container.main-menu
      .row.align-items-center.justify-content-between.d-flex
        #logo
          a(href='/')
            img(src='img/logo1.png' alt='' title='')
        nav#nav-menu-container
          ul.nav-menu
            li
              a(href='/') Trang ch&#x1EE7;
            li
              a(href='/danhsachlopmoi') Danh s&aacute;ch c&aacute;c l&#x1EDB;p m&#x1EDB;i
            li
              a(href='/cach-thuc-nhan-lop') C&aacute;ch th&#x1EE9;c nh&#x1EAD;n l&#x1EDB;p
            li
              a(href='/chinh-sach-hoan-phi') Ch&iacute;nh s&aacute;ch ho&agrave;n ph&iacute;
            li
              a(href='/chinh-sach-hoc-thu') Ch&iacute;nh s&aacute;ch h&#x1ECD;c th&#x1EED;
            li.menu-has-children
              a(href='') Blog gia s&#x1B0;
            li
              a(href='/contact') Li&ecirc;n h&#x1EC7;
main(role='main')
  .container.alert-group
  .container
    .row
      .col-lg-9.pl-lg-5
        nav(aria-label='breadcrumb')
          ol.breadcrumb
            li.breadcrumb-item
              a(href='/gia-su')
                i.fa.fa-home
            li.breadcrumb-item
              a(href='/cap-nhat-thong-tin') T&agrave;i kho&#x1EA3;n c&#x1EE7;a t&ocirc;i
            li.breadcrumb-item.active(aria-current='page')
        h3.mb-4 Th&ocirc;ng tin c&#x1A1; b&#x1EA3;n
        form(method='POST' name ='frmhosothongtin' action='/cap-nhat-thong-tin' novalidate='')
          input(type='hidden' name='id' value= giasu ?giasu._id : '5f24f8565013f04388c359ab')
          if giasu
            -var time = giasu.namsinh
          .row
            .col-md-4.form-group
              label.font-weight-bold H&#x1ECD; v&agrave; t&ecirc;n:
              input.form-control(type='text' name='name'  autocomplete='off' maxlength='50' value = giasu ? giasu.tengiasu : "")
            .col-md-3.form-group.mt-1.mt-md-0
              label.font-weight-bold &Dstrok;i&#x1EC7;n tho&#x1EA1;i:
              .form-control-wrap
                input.form-control(type='tel' name='phone' autocomplete='off' maxlength='15' value = giasu ? giasu.sdt : "")
              p.invalid-feedback S&#x1ED1; &dstrok;i&#x1EC7;n tho&#x1EA1;i l&agrave; b&#x1EAF;t bu&#x1ED9;c
            .col-md-5.form-group.mt-1.mt-md-0
              label.font-weight-bold Email:
              .form-control-verified
                input.form-control(type='email' name='email'  autocomplete='off'  maxlength='100' value = giasu ? giasu.email : "")
                i.fa.fa-user-check
              p.mt-2.mb-0.text-right.pr-2
                a.text-underline(href='') Thay &dstrok;&#x1ED5;i email
            .w-100.mt-2.mt-md-0
            .col-md-3.form-group
              label.font-weight-bold Gi&#x1EDB;i t&iacute;nh:
              select#gender_id.form-control.nice(name='gender' autocomplete='off' value = giasu ? giasu.gioitinh : "")
               
                option(value='1') Nam
                option(value='0') N&#x1EEF;
              
            .col-md-3.form-group.mt-1.mt-md-0
              label.font-weight-bold N&abreve;m sinh:
              select.form-control.nice(name='birthday' value= giasu?  giasu.namsinh : '' id= 'mySelect')
                option(value='') Ch&#x1ECD;n n&abreve;m
                option(value='2002') N&abreve;m 2002
                option(value='2001' ) N&abreve;m 2001
                option(value='2000') N&abreve;m 2000
                option(value='1999') N&abreve;m 1999
                option(value='1998') N&abreve;m 1998
                option(value='1997') N&abreve;m 1997
                option(value='1996') N&abreve;m 1996
                option(value='1995') N&abreve;m 1995
                option(value='1994') N&abreve;m 1994
                option(value='1993') N&abreve;m 1993
                option(value='1992') N&abreve;m 1992
                option(value='1991') N&abreve;m 1991
                option(value='1990') N&abreve;m 1990
                option(value='1989') N&abreve;m 1989
                option(value='1988') N&abreve;m 1988
                option(value='1987') N&abreve;m 1987
                option(value='1986') N&abreve;m 1986
                option(value='1985') N&abreve;m 1985
                option(value='1984') N&abreve;m 1984
                option(value='1983') N&abreve;m 1983
                option(value='1982') N&abreve;m 1982
                option(value='1981') N&abreve;m 1981
                option(value='1980') N&abreve;m 1980
                option(value='1979') N&abreve;m 1979
                option(value='1978') N&abreve;m 1978
                option(value='1977') N&abreve;m 1977
                option(value='1976') N&abreve;m 1976
                option(value='1975') N&abreve;m 1975
                option(value='1974') N&abreve;m 1974
                option(value='1973') N&abreve;m 1973
                option(value='1972') N&abreve;m 1972
                option(value='1971') N&abreve;m 1971
                option(value='1970') N&abreve;m 1970
              
          h5.mt-4.text-primary H&#x1ECD;c v&#x1EA5;n (&Dstrok;&#x1EA1;i h&#x1ECD;c, cao &dstrok;&#x1EB3;ng):
          .row.mt-4
            .col-md-6.form-group
              label.font-weight-bold T&ecirc;n tr&#x1B0;&#x1EDD;ng h&#x1ECD;c:
              input.form-control(type='text' name='college_name'  autocomplete='off' maxlength='250' value = giasu ? giasu.truonghoc : "")
            .col-md-6.form-group.mt-2.mt-md-0
              label.font-weight-bold Ng&agrave;nh h&#x1ECD;c:
              input.form-control(type='text' name='college_major' autocomplete='off' maxlength='250' value = giasu ? giasu.nghanhhoc : "")
            .w-100.mt-2
            .col-md-6.mt-3.mt-md-0
              if giasu
                -var nambd= giasu.thoigianbatdau.split('-');
                -var namkt= giasu.thoigianketthuc.split('-');
              .row
                .col-6.form-group
                  label.mb-2.font-weight-bold B&#x1EAF;t &dstrok;&#x1EA7;u t&#x1EEB;:
                  .form_date
                    .form_date-month
                      label.text-muted Th&aacute;ng
                      input.form-control(name='start_month'  min='1' max='12' value=giasu ? nambd[0] : '')
                    .form_date-year
                      label.text-muted N&abreve;m
                      input.form-control(name='start_year'  min='1970' max='2018' value=giasu ? nambd[1] : '')
                .col-6.form-group
                  label.mb-2.font-weight-bold K&#x1EBF;t th&uacute;c:
                  .form_date
                    .form_date-month
                      label.text-muted Th&aacute;ng
                      input.form-control(name='end_month'  min='1' max='12' value=giasu ? namkt[0] : '')
                    .form_date-year
                      label.text-muted N&abreve;m
                      input.form-control(name='end_year'  min='1970' max='2018' value=giasu ?namkt[1]: '')
          //- label.mb-2.font-weight-bold Vị trí gia sư:
          //-   .mt-4
          //-     #tutor_kind_choice.mt-2
          //-       .form-check.form-check-radio
          //-         span Sinh Vi&ecirc;n
          //-         input(type='radio' name='tutor_kind' value='1' checked='checked')
          //-         span.checkmark
          //-       .form-check.form-check-radio
          //-         span Gi&aacute;o Vi&ecirc;n
          //-         input(type='radio' name='tutor_kind' value='2')
          //-         span.checkmark
              
          //- // End Row
          //- h5.mt-4.pt-2.mb-3.text-primary X&aacute;c minh h&#x1ECD;c v&#x1EA5;n:
          //- #how_verify_choice
          //-   div
          //-     .form-check.form-check-radio.mr-0.mb-0
          //-       span X&aacute;c minh khi nh&#x1EAD;n l&#x1EDB;p t&#x1EA1;i Trung T&acirc;m
          //-       input(type='radio' name='how_verify' value='1' checked='')
          //-       span.checkmark
          //-   .mt-2
          //-     .form-check.form-check-radio
          //-       span X&aacute;c minh b&#x1EB1;ng c&aacute;ch upload &#x1EA3;nh
          //-       input(type='radio' name='how_verify' value='2')
          //-       span.checkmark
          #upload_image_field.mt-4.none
            p Upload &#x1EA3;nh ch&#x1EE5;p Th&#x1EBB; sinh vi&ecirc;n ho&#x1EB7;c B&#x1EB1;ng t&#x1ED1;t nghi&#x1EC7;p c&#x1EE7;a b&#x1EA1;n.
            .row.mt-4
              .col-md-4
                label.mb-2.font-weight-bold &#x1EA2;nh x&aacute;c minh:
                input#student_card.upload_file.none(type='file')
                #student_card_notice.text-smaller.mb-3
                  span.text-muted (Click v&agrave;o &#x1EA3;nh &dstrok;&#x1EC3; upload)
                a#student_card_btn.d-inline-block.image-preview(href="javascript:upload_image('student_card')")
                  #student_card_preview
                    img(src='./Thông Tin Cơ Bản_files/placeholder-250.jpg')
                  .backdrop
                    .loader
          // End upload image field
          .mt-5.text-right
            a.btn.btn-secondary.mr-4.btn-cancel(href='/gia-su') Quay l&#x1EA1;i
            input.btn.btn-primary(type='submit' value='Tiếp theo')
      .col-lg-3.order-lg-first.mt-5.mt-lg-0
        .mb-2.h5
          a(href='') H&#x1ED3; s&#x1A1; gia s&#x1B0;
        ul.sidebar-nav.list-unstyled
          li.nav-item
            a.nav-link.active(href='/cap-nhat-thong-tin')
              i.fa.fa-caret-right
              |  Th&ocirc;ng tin c&#x1A1; b&#x1EA3;n 
              i.fa.fa-exclamation-circle
          li.nav-item
            a.nav-link(href='/cap-nhat-thong-tin/the-can-cuoc')
              i.fa.fa-caret-right
              |  Thẻ căn cước
              i.fa.fa-exclamation-circle
          li.nav-item
            a.nav-link(href='/cap-nhat-thong-tin/vi-tri-gia-su')
              i.fa.fa-caret-right
              |  V&#x1ECB; tr&iacute; gia s&#x1B0; 
              i.fa.fa-exclamation-circle
          
        
      
        .mt-4.pt-2.h5
          a(href='/cap-nhat-thong-tin/lop-da-nhan')
            span L&#x1EDB;p &dstrok;&atilde; nh&#x1EAD;n
            span.text-muted.h6= '( ' + count +')'
        p.text-muted.mt-2.mb-0= 'Bạn đã nhận ' + count+ ' lớp !'
        
footer.footer-area.section-gap
  .container
    .row
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 L&ecirc;n h&#x1EC7; v&#x1EDB;i ch&uacute;ng t&ocirc;i
          ul
            li
              i.fa.fa-map-marker
              span.text 206/04,X&oacute;m c&#x1EA3;, Nguy&ecirc;n X&aacute;, Minh Khai, B&#x1EAF;c T&#x1EEB; Li&ecirc;m, H&agrave; N&#x1ED9;i
            li
              i.fa.fa-phone
              span.text +84 0961100826
            li
              i.fa.fa-envelope
              span.text hieudao03021999@gmail.com
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 V&#x1EC1; HNTutor
          ul
            li
              a(href='#') Trang ch&#x1EE7;
            li
              a(href='#') Gi&#x1EDB;i thi&#x1EC7;u
            li
              a(href='#') Danh s&aacute;ch l&#x1EDB;p m&#x1EDB;i
            li
              a(href='#') Li&ecirc;n H&#x1EC7;
      .col-lg-2.col-md-6.col-sm-6
        .single-footer-widget
          h4 Blog
          ul
            li
              a(href='#') Blog kh&aacute;ch h&agrave;ng
            li
              a(href='#') Blog gia s&#x1B0;
      .col-lg-4.col-md-6.col-sm-6
        .single-footer-widget
          h4 Gmail
          p &Dstrok;&#x1EC3; l&#x1EA1;i gmail &dstrok;&#x1EC3; c&oacute; th&#x1EC3; nh&#x1EAD;n nh&#x1EEF;ng &#x1B0;u &dstrok;&atilde;i m&#x1EDB;i nh&acirc;t
          #mc_embed_signup
            form(target='_blank' action='https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&id=92a4423d01' method='get')
              .input-group
                input.form-control(type='text' name='EMAIL' placeholder='Địa chỉ Email' onfocus="this.placeholder = ''" onblur="this.placeholder = 'Địa chỉ Email '" required='')
                .input-group-btn
                  button.btn.btn-default(type='submit')
                    span.lnr.lnr-arrow-right
                .info
    .footer-bottom.row.align-items-center.justify-content-between
      p.footer-text.m-0.col-lg-6.col-md-12
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
        | B&#x1EA3;n quy&#x1EC1;n &copy;
        script.
          document.write(new Date().getFullYear());
        |  c&#x1EE7;a S&#x1EA3;n ph&#x1EA9;m  
        i.fa.fa-heart-o(aria-hidden='true')
        | thu&#x1ED9;c v&#x1EC1; 
        a(href='https://colorlib.com' target='_blank') Hi&#x1EBF;u &Dstrok;&agrave;o
        // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
      .col-lg-6.col-sm-12.footer-social
        a(href='#')
          i.fa.fa-facebook
        a(href='#')
          i.fa.fa-twitter
        a(href='#')
          i.fa.fa-dribbble
        a(href='#')
          i.fa.fa-behance
// End footer Area
script(src='js/vendor/jquery-2.2.4.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='js/vendor/bootstrap.min.js')
script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA')
script(src='js/easing.min.js')
script(src='js/hoverIntent.js')
script(src='js/superfish.min.js')
script(src='js/jquery.ajaxchimp.min.js')
script(src='js/jquery.magnific-popup.min.js')
script(src='js/jquery.tabs.min.js')
script(src='js/jquery.nice-select.min.js')
script(src='js/owl.carousel.min.js')
script(src='js/mail-script.js')
script(src='js/main.js')
script.
    function myFunction() {
    var e = document.getElementById("mySelect");
  	e.value = #{time};
   
   
    
    }
    window.onload = function()
    {
    myFunction()
    };
